body {
    box-sizing: border-box;
    font-family: Roboto, 'san-serif';
}

 /*********** HEADER ************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px; /* Logo, text, hamburger */
    align-items: end;
    padding: 5px 0px 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
}

.hamburger::before {
    content: '\2630';
    font-size: 2rem;
}

.hamburger.show::before {
    content: '\00D7';
}

/***** Navigation ******/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #3D405B;
    text-decoration: none;
    border: solid 1px #ddd;
}

.navigation li.current {
    background-color: #ccc;
}

.navigation a:hover {
    background-color: #745484;
}

/***** Footer styles *******/
footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 22px;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

/***** Main ****/
main {
    text-align: center;
}

main h1 {
    text-align: left;
}

.upper-section section h2, .web-certificate h2 {
    background-color: #3D405B;
    color: #ffffff;
    padding: 0 1rem;
}

.upper-section section p {
    text-align: left;
}

.upper-section section .image-container {
    width: 250px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.upper-section section .image-container img {
    width: 100%;
    height: 100%;
}

.categories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem 1rem;
}

.categories button {
    background-color: #ddd;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.course-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #3D405B;
    width: 90%;
}


.course-card.completed {
    background-color: #ddd;
    border-color: #c3e6cb;
    color: #155724;
}